body {
  font-family: "Raleway", sans-serif;
}

/* Sección principal */

#section_principal {
  background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Sección Educación */

.row {
  justify-content: space-around;
}

.colegio {
  height: 300px;
  width: 400px;
}

.inacap {
  height: 300px;
  width: 400px;
}

#section_experiencia .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
